.page-wrap {
    padding: 70px 0;
    background: #ff002d;
}

.user-con {
    position: relative;
    margin: 0 auto;
    width: 400px;
    background: #fff;
}

.user-con .user-title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.user-con .user-box {
    padding: 20px;
}

/* 错误提示 */
.user-con .user-box .error-item {
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    border: 1px solid red;
    color: red;
    background: #fde9e9;
    display: none;
}

.user-con .user-box .error-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -7px;
    font-size: 14px;
}

.user-con .user-item {
    position: relative;
    margin-bottom: 20px;
}

.user-con .user-item .user-label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    line-height: 36px;
    color: #b0b0b0;
    font-size: 18px;
    background: #f3f3f3;
    border-right: 1px solid #bdbdbd;
    text-align: center;
}

.user-con .user-item .user-content {
    width: 308px;
    padding: 10px 0 10px 50px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #bdbdbd;
    font-size: 15px;
    outline: none;
}

.user-con .btn-submit {
    width: 100%;
    padding: 2px 0;
    text-align: center;
}

.user-con .link-item {
    text-align: right;
    margin-top: 10px;
}
.user-con .link {
    margin-left: 10px;
    color: #666;
}