<div class="footer">
    <div class="width">
        <div class="links">
            <a href="http://www.imooc.com" class="link" target="_blank">慕课网</a> |
            <a href="https://www.baidu.com" class="link" target="_blank">百度</a> |
            <a href="https://www.taobao.com" class="link" target="_blank">淘宝</a> |
            <a href="https://www.zhihu.com" class="link" target="_blank">知乎</a>
        </div>
        <div class="links">
            <a href="" class="copyright">
                Copyright ©2018 All Right Reserved
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>


