<meta charset="UTF-8">

<link rel="dns-prefetch" href="//cdn.bootcss.com">
<!-- js + css  -->
<link rel="dns-prefetch" href="//s.zjlssr.xyz">
<!-- image -->
<link rel="dns-prefetch" href="//img.zjlssr.xyz">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="电商,前端,模块化开发,webpack">
<meta name="description" content="电商,前端,模块化开发,webpack">
<meta http-equiv="X-UA-Compatible" content="ie=edge">